  .space{
    display: flex;
    flex-grow: 1;
    align-items: center;
    background-color: black;
 
  }

  .left-buttons{
    background-color:black;
    display: flex;
    align-items: center;
 
  }

  .vp-button{
        font-size: 20px;
        color: #E81EB5;
        background-color: transparent;
        cursor: pointer;
        width: 35px;
        height: 35px;
        border: 0px;
     
 
    }

  .video-player-container{
    width: 100%;
    flex-grow:1;
    
   }


  .player{
    width: 811px;
    height: 614px;
    display: flex;
    flex-direction: column;
    box-shadow:  10px 7px 5px 0px #E81EB5;
  }

  