  .space{
    display: flex;
    flex-grow: 1;
    align-items: center;
    background-color: black;
 
  }

  .left-buttons{
    background-color:black;
    display: flex;
    align-items: center;
 
  }

  .vp-button{
        font-size: 20px;
        color: #E81EB5;
        background-color: transparent;
        cursor: pointer;
        width: 35px;
        height: 35px;
        border: 0px;
     
 
    }

  .video-player-container{
    width: 100%;
    flex-grow:1;
    
   }


  .player{
    width: 800px;
    height: 600px;
    display: flex;
    flex-direction: column;
    box-shadow:  10px 7px 5px 0px #E81EB5;
  }

  .timebar-style {
    font-family: 'Comic Neue';
    color: #43bc0b;
  }
  
  .timebar-style .js-progress {
    background-color: rgb(0, 0, 0);
    display: inline-block;
  }
  
  .timebar-style .js-progress-slider {
    background-color: red;
  }
  
  .timebar-style .js-duration {
    display: inline-block;
  }
  